<h1 mat-dialog-title>Datos clientes </h1>
<form class="example-container" #newForm="ngForm" (ngSubmit)="guardar(newForm)">
    <div mat-dialog-content class="contenedor">

        <mat-form-field>
            <input matInput placeholder="Ruc" name="ruc" #ruc="ngModel" [(ngModel)]="cliente.ruc" minlength="11"
                required />
            <mat-hint class="error" *ngIf="cliente.ruc.length<11">debe tener mínimo de 11 dígitos</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="denominacion" placeholder="Denominacion" name="denominacion" #denominacion="ngModel"
                [(ngModel)]="cliente.denominacion" minlength="3" required />
            <mat-hint class="error" *ngIf="cliente.denominacion.length<3">debe tener mínimo de 3 dígitos</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput type="deuda" placeholder="Deuda" name="deuda" #deuda="ngModel"
                [(ngModel)]="cliente.deuda" minlength="3" required />
            <mat-hint class="error" *ngIf="cliente.deuda<0">dato imvalido</mat-hint>
        </mat-form-field>
    </div>

    <!-- <div mat-dialog-actions>

        <button mat-button type="submit" cdkFocusInitial [disabled]="!newForm.form.valid">
            <mat-icon>save</mat-icon>
            <span>Guardar</span>
        </button>
    </div> -->
</form>